:root{
    --primary-bg: white;
    --secondary-bg: #E4E4E4;
    --teritiary-color: #B1C7F7;
    --primary-color: black;
    --secondary-color: rgb(74, 0, 0);
    --padding-default: 24px;
    --padding-narrow: 12px;
    --padding-footer: 24px;
}

/*共通*/
body{
    margin: 0px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img{
    width: 100%;
}

/*header*/
header{
    color: var(--primary-color);
    background-color: white;
}


#logo{
    width: 140px;
    padding-top: 12px;
    padding-left: 25px;
}

#header-catch-img {
    position: relative;
}

#header-catch-img .pc{
    display: none !important;
}

#header-catch-img .sp{
    display: block !important;
}

#header-catch{
    position: relative;
    text-align: center;
}

#header-catch button{
    position: absolute;
    top: 60%;
    left: 35%;
    background-color: var(--teritiary-color);
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    color: white;
    font-weight: bold;
    margin: auto;
    transition: all 0.3s;
}

#header-catch button:hover{
    background-color: #86aaf9;
}

/*main*/

main hr{
    border-color: rgba(255, 255, 255, 0.5);
    margin-right: 24px;
    margin-left: 24px;
}

#main-about h1{
    padding: var(--padding-default);
    color: #7e7e7e;
    text-align: center;
    font-weight: normal;
    letter-spacing: 8px;
}

main #main-about{
    color: var(--primary-color);
    background-color: var(--primary-bg);
    padding: var(--padding-default);
}

#main-about-image img{
    width: 130px;
    margin: auto;
    display: block;
    padding-top: 30px;
}

#main-about-text {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#main-about-text p{
    padding-bottom: 30px;
}

#main-about-text .text{
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 25px;
}

#main-about-text span{
    font-size: 13px;
}

#main-about-text button{
    background-color: var(--teritiary-color);
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

#main-about-text button:hover{
    background-color: #86aaf9;
}

main #main-latestwork-title{
    padding-top: 30px;
    color: #7e7e7e;
    text-align: center;
    font-weight: normal;
    letter-spacing: 8px;
}

#main-latestwork-title h1{
    color: #7e7e7e;
    text-align: center;
    font-weight: normal;
    letter-spacing: 8px;
}

main #main-latestwork-images{
    padding: 30px 80px;
}

main #main-latestwork img{
    opacity: 0.7;
    border-radius: 15px;
    transition: all 0.3s;
}

main #main-latestwork img:hover{
    opacity: 1;
}

.work-title1{
    color: #6886c6;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.work-title1 span{
    font-size: 10px;
    color: #a1a1a1;
}


.work-title2{
    color: #6886c6;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;

}

.work-title2 span{
    font-size: 10px;
    color: #a1a1a1;
}

/*footer*/
footer{
    color: rgb(118, 118, 118);
    background-color: var(--secondary-bg);
    padding-top: 40px;
    font-size: 12px;
    padding-left: var(--padding-footer);
    padding-right: var(--padding-footer);
}

footer hr{
    border-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
}

#footer-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
}

.footer-menu{
    margin: 36px;
}

.footer-menu-title{
    color: var(--teritiary-color);
    margin-bottom: 24px;
}

.footer-menu-item ul{
    padding-left: 0px;
}

.footer-menu-item{
    margin-bottom: 8px;
}

.footer-menu-item li{
    margin-bottom: 6px;
    list-style-type: none;
}

#footer-sns{
    margin-bottom: 24px;
}

#footer-sns li{
    list-style: none;
}

#footer-sns ul{
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

#footer-sns i{
    font-size: 150%;
    background-color: var(--teritiary-color);
    padding: 12px;
    padding-top: 16px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin: 4px;
}


.sns-icon{
    width: 24px;
}

#footer-title, #footer-menus, #footer-sns{
    text-align: center;
}

#footer-sub{
    text-align: center;
    font-size: 9px;
    padding-bottom: var(--padding-narrow);
}

@media(min-width:768px){
    #header-catch-img .pc{
        display: block !important;
    }
    #header-catch-img .sp{
        display: none !important;
    }
    #header-catch{
        position: relative;
    }
    #header-catch button{
        position: absolute;
        top: 60%;
        left: 40%;
        font-size: 15px;
    }
}

@media(min-width: 768px){
    #main-about-image img{
        width: 220px;
    }
    #main-about-text{
        font-size: 24px;
        letter-spacing: 3px;
    }
    #main-about-text .text{
        font-size: 13px;
        letter-spacing: 4px;
    }
    #main-about-text button{
        padding: 15px 40px;
        letter-spacing: 3px;
    }
    main hr{
        margin-right: 80px;
        margin-left: 80px;
    }
}

@media(min-width: 768px){
    #main-latestwork-images{
        display: flex;
        justify-content: space-around;
    }
    .main-latestwork{
        flex-basis: 36%;
        max-width: 500px;
    }
    
}

@media(min-width: 768px){
    #footer-main, #footer-menus{
        display: flex;
        justify-content: space-between;

    }
}

/* メニュー */
header{
    position: relative;
}
#menubar-mobile{
    display: block;
    position: absolute;
    top: 0px;
}

/* ここから下がハンバーガーメニューに関するCSS */
#menubar-mobile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.nav {
    margin-right: 40px;
    margin-top: 45px;
}
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 36px;
    border-radius: 3px;
    background: black;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 10px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 10px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: black;
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: black;
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: var(--primary-bg);
    color: rgb(108, 108, 108);
    transition: .5s;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .nav_content a,
  .nav_content a:link,
  .nav_content a:hover,
  .nav_content a:active {
    text-decoration: none;
    color: rgb(108, 108, 108);
  }

  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
    padding: 45px;
    font-size: large;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }

  @media(min-width: 768px){
    #menubar-mobile{
        display: none;
    }
}

#menubar #menu, #menubar #contact {
    display: none;
}

@media(min-width: 768px){
    #menubar #menu, #menubar #contact {
        display: block;
    }
    #menubar{
        display: flex;
        justify-content: space-between;
    }
    #menubar ul {
        display: flex;
    }
    #menubar li {
        list-style: none;
        margin-right: 40px;
        padding-top: 25%;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px;
        transition: 0.3s;
    }
    #menubar a {
        text-decoration: none;
    }
    #menubar li a{
        transition: 0.3s;
        color: black;
    }
    
    #menubar li a:hover {
        color: rgb(184, 184, 184);
    }
}
